<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="redactor_box">
    <%= f.text_area:content, placeholder: "Blog entry goes here...", :class => "redactor" %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>