@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  width: 630px;
  margin: 0 auto;
  h1 {
    margin-bottom: 10px;
  }
}

.hidden { display: none; }

.link-container {
    border: 1px solid;
    width: 50%;
    height: 20px;
}

.link-container a {
    display: block;
    background: #c8c8c8;
    height: 100%;
    text-align: center;
}

.link-container a:hover {
    background: #f8f8f8;
}

.resp{
    width: 130px;
    height: 130px;
    float: left;
    margin: 20px;
    color: #330033;
    border-width: 1px;
    img {
      padding: 20px;
      position: relative;
      top: -20px;
    }
    a {
      display: block;
      color: #330033;
      text-decoration: none;
    }
    & .gravatar {
      position: relative;
      top: -20px;

      width: 65%;
      height: 65%;
    }
}


.resp:hover {
      overflow: hidden;
      &:hover {
       text-decoration: none;
       background-image: -webkit-gradient(
                            linear,
                            right top,
                            left bottom,
                            color-stop(0.18, #F2E88E),
                            color-stop(1, #E0A119)
                          );
       background-image: -o-linear-gradient(left bottom, #F2E88E 18%, #E0A119 100%);
       background-image: -moz-linear-gradient(left bottom, #F2E88E 18%, #E0A119 100%);
       background-image: -webkit-linear-gradient(left bottom, #F2E88E 18%, #E0A119 100%);
       background-image: -ms-linear-gradient(left bottom, #F2E88E 18%, #E0A119 100%);
       background-image: linear-gradient(to left bottom, #F2E88E 18%, #E0A119 100%);
       border-color: #330033;
       border-width: 1px;
    }

}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: #330033;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: right;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}


.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.redactor_box {
    width: 600px;
    height: auto;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/*  videos */
